<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="ClothBazarCOnnection" connectionString="Data Source= MSSQLLocalDB; Integrated Security=true;Initial Catalog= ClothBazar-Database; uid=YourUserName; Password=yourpassword; " providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>